html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0 5px;
  overflow: hidden
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
h3 {
  margin-top: 5px;
  margin-bottom: 0;
}
a:hover {
  color: #f00;
}
table {
  height: 100%;
  width: 100%;
}
td {
  vertical-align: top;
  padding: 0;
}
#blockly {
  position: fixed;
}
/*    #previewFrame {
  border-style: solid;
  border-color: #ddd;
  border-width: 0 1px 1px 0;
  position: absolute;
}*/
pre {
  margin-top: 0;
  position: absolute;
  border: #ddd 1px solid;
  overflow: scroll;
}