/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}
/* All looks better with padding*/
#content {
	padding-top: 20px;
	padding-bottom: 20px;
}
iframe {
	width: 100%;
	height: 100%;
	border-style: solid;
	border-color: #ddd;
	border-width: 0 1px 1px 0;
}
.btn-group {
	position: relative;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	white-space: nowrap;
}


/* Code text area */
div.modal .modal-body textarea.xmlcode {
	width: 100%;
	min-height: 200px;
}

/* Make sure to hide the underline on image links */
.notext, .notext:hover {
	font-size: 10%;
	text-decoration: none;
}
/* A link that has no indication except hover that its a link*/
.stealthlink, .stealthlink:hover {
	text-decoration: none;
	color:black;
}

.hiddenexamples {
	display:none;
}

.form-group label, .form-group input {
	width:100%;
}

.iconbar {
	margin-top:12px;
}

.iconbar a {
	margin-left:7px;
}
.iconbar .fa {
	/*height:35px;*/
	/*width:35px;*/
	color:white;
}
.iconbar .fa:hover {
	color:gray;
}