
<!DOCTYPE html>
<html>
<head>
	<title>EasyJ</title>
	<meta charset="utf-8">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" type="text/css" href="style.css" />
	<!--[if lt IE 7]>
	<style media="screen" type="text/css">
	.col1 {
		width:100%;
	}
	</style>
	<![endif]-->
</head>
<body>

<div id="header">
	<h1>EasyJ for FRC <small>Based on the <a href="http://blockly.googlecode.com" target="_blank">Blockly</a> toolkit</small></h1>
	<!-- <h2>Subtitle</h2> -->
	<ul id="tabs">
		<li>Open Files:</li>
		<li>
			<a href="" class="active">Selected</a>
		</li>
		<li>
			<a href="">Not Selected</a>
		</li>
	</ul>
</div>
<div class="colmask holygrail">
	<div class="colmid">
		<div class="colleft">
			<div class="col1wrap">
				<div class="col1"> <!-- Center -->
					<h2>Blockly</h2>
				</div> <!-- /Center -->
			</div>
			<div class="col2"> <!--	Left -->
				<h4>Robot Hierarchy</h4>
			</div> <!--	/Left -->
			<div class="col3"> <!--	Right -->
				<h2>Code</h2>
			</div> <!--	/Right -->
		</div>
	</div>
</div>
<div id="footer">
	<p>EasyJ - <a href="http://techwizworld.net">Techplex Labs</a> <script>document.write((new Date()).getFullYear());</script></p>
</div>

<!-- <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1848067-8";
urchinTracker();
</script> -->

</body>
</html>
